section{
    background-color: #E1E6FA;
    padding: 60px;
    
}

h1{
    text-align: center;
    color: #183152;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.saiser{
    font-size: 30px;
    color: #375D81;
}

.pa-tentative{
    font-size: 20px;
    color:#42352E;
}

#sortirtext{
    font-size: 20px;
}

#entréeUtilisateur{
    width: 200px;
    height: 30px;
    border: solid 1px black;
    border-radius: 3px;
}

#btn{
    width: 100px;
    height: 30px;
    border: solid 1px black;
    border-radius: 3px;
    margin-left: 3%;
    cursor: pointer;
    justify-content: center;  
}